# Data Visualization Dashboard with Bokeh

In [51]:
from pandas_datareader import data
import datetime
from bokeh.plotting import figure, show, output_file

start=datetime.datetime(2022,3,1)
end=datetime.datetime(2022,3,10)
df=data.DataReader(name="GOOG", data_source="yahoo",start=start,end=end)
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-03-01,136.110992,133.378494,134.479996,134.167999,24640000,134.167999
2022-03-02,135.615494,133.432495,134.608246,134.751495,23966000,134.751495
2022-03-03,136.713806,133.431000,135.978500,134.307999,19780000,134.307999
2022-03-04,134.199005,130.408493,133.382507,132.121994,24446000,132.121994
2022-03-07,131.904007,126.410004,131.904007,126.464500,39178000,126.464500
2022-03-08,131.246506,125.860748,126.250504,127.278503,35250000,127.278503
2022-03-09,134.198502,130.087997,131.399994,133.865997,32258000,133.865997
2022-03-10,133.538498,131.401001,131.462494,132.682007,24266000,132.682007

In [52]:
#df.index
#df.Open
def inc_dec(c,o):
    if c > o:
        value="Increase"
    elif c < o:
        value="Decrease"
    else:
        value="Equal"
    return value

df["Status"]=[inc_dec(c,o) for c,o in zip(df.Close,df.Open)]
df['Middle']=(df.Open+df.Close)/2
df['Height']=abs(df.Close-df.Open)

In [67]:
p=figure(x_axis_type='datetime', width=1000, height=500)
p.title="Candlestick Chart"
p.title.text_font_size='20pt'
p.title.align = 'center'
p.grid.grid_line_alpha=0.3


hours_12=12*60*60*1000

p.segment(df.index, df.High, df.index, df.Low, color="Black")

p.rect(df.index[df.Status=="Increase"], df.Middle[df.Status=="Increase"], 
       hours_12, df.Height[df.Status=="Increase"],fill_color="green", line_color="black")

p.rect(df.index[df.Status=="Decrease"], df.Middle[df.Status=="Decrease"], 
       hours_12, df.Height[df.Status=="Decrease"],fill_color="red", line_color="black")


output_file=("Stock.html")
show(p)